<div class="sidebar">
    <ul>
        <li><a href="/">Trang tổng quan</a></li>
        <li><a href="/employee">Nhân viên</a></li>
        <li><a href="/children">Con cái</a></li>
        <li><a href="/timesheet">Bảng chấm công</a></li>
        <li><a href="/training">Đào tạo</a></li>
        <li><a href="/products">Sản phẩm</a></li>
        <li><a href="/orders">Đơn hàng</a></li>
        <li><a href="/projects">Quản lý dự án</a></li>
        <li><a href="/feedback">Phản hồi</a></li>
        <li><a href="/payment">Thanh toán</a></li>
        <li><a href="/customer">Khách hàng</a></li>
    </ul>
</div>
