<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Dự Án</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/sidebar.ejs') %>

    <div class="main-content">
        <header>
            <h2>Thêm Dự Án</h2>
        </header>
        <section class="add-training-form">
            <form action="/api/training" method="POST">
                <label for="TrainingName">Tên đào tạo (*):</label>
                <input type="text" name="TrainingName" id="TrainingName" required>

                <label for="StartDate">Ngày bắt đầu (*):</label>
                <input type="date" name="StartDate" id="StartDate" required>

                <label for="EndDate">Ngày kết thúc (*):</label>
                <input type="date" name="EndDate" id="EndDate" required>

                <label for="Employee_ID">Mã nhân viên (*):</label>
                <input type="number" name="Employee_ID" id="Employee_ID" required>

                <button type="submit">Thêm đào tạo</button>
            </form>
        </section>
    </div>
</body>
</html>
