<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/sidebar') %>    
    
    <div class="main-content">
        <header>
            <h2>Chào mừng trở lại, Đại vương!!</h2>
            <p>Hôm nay là <span id="current-date"></span></p>
        </header>

        <section class="dashboard">
            <div class="card"><a href="/employee">Nhân viên</a></div>
            <div class="card"><a href="/timesheet">Bảng chấm công</a></div>
            <div class="card"><a href="/training">Đào tạo</a></div>
            <div class="card"><a href="/products">Sản phẩm</a></div>
            <div class="card"><a href="/orders">Đơn hàng</a></div>
            <div class="card"><a href="/projects">Dự án</a></div>
            <div class="card"><a href="/feedback">Phản hồi</a></div>
        </section>
    </div>

    <script src = "/js/index.js"></script>
</body>
</html>
